<!DOCTYPE html>
<html>
<head time='1396416805'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="baidu-tc-cerfication" content="5f496895eb9bff9ec4db4512a7e4e95c" />
    <meta name="description" content="WordPress 讨论微社区。"/>
    <meta name="keywords" content="" />
    <link rel="shortcut icon" href="http://dzqun.gtimg.cn/quan/images/favicon.ico"/>
    <title>WordPressJam</title>
    <script type="text/javascript">
        window.g_module = [];
        var STATIC_DOMAIN = 'http://dzqun.gtimg.cn',
            ARS_TIME = '1396416805';
        
        var g_tsBase = new Date(),g_ts = {};
        var PathUtil = {
            getCPath: function() {
                return STATIC_DOMAIN + '/quan/scripts/';
            }
        };
        
        g_ts.css_start=new Date();
        var pageName = '';
    </script>
    <link rel="stylesheet" href="http://dzqun.gtimg.cn/quan/style/comm.css?t=1396416805"  onload="g_ts.css_end = new Date();" onerror="g_ts.css_end = new Date();">
</head>
<body><div class="warp" onselectstart="return false;">
                        <div class="header">
                    <i class="topicLogo fl db"><img src="http://shp.qlogo.cn/gqclogo/0/159733031/104?t=1394675815" class="tImg" width="78" height="78" alt="logo"></i>
            <h3>WordPressJam</h3>
            <p class="subTitle">
                <span><em>38</em>话题</span><span><em id="likeCount">22</em>成员</span>
            </p>
                        
            <a href="javascript:;" class="inviteF inviteQQ" onclick="pgvSendClick({hottag:'QUAN.NAV.INVITE.LINK'});">邀请好友</a>
            
                            </div>
            
    
        <div class="loading mt10" id="refreshWait" style="display:none;">
        <div class="loadInco">
            <span class="blockG" id="rotateG_01"></span>
            <span class="blockG" id="rotateG_02"></span>
            <span class="blockG" id="rotateG_03"></span>
            <span class="blockG" id="rotateG_04"></span>
            <span class="blockG" id="rotateG_05"></span>
            <span class="blockG" id="rotateG_06"></span>
            <span class="blockG" id="rotateG_07"></span>
            <span class="blockG" id="rotateG_08"></span>
        </div>
        正在加载...
    </div>
    
    <div class="container">


        
        
        <div id="allThreadList">
                        <div class="topicBox" id="t_1">
            <div class="topicCon pd15">
                    <p class="personImgDate">
                        <span class="perImg db">
                            <a href="/my/thread?uId=49859"><img src="http://wx.qlogo.cn/mmopen/ajNVdqHZLLASRo6ibRGoicXEc9icb8Co6DtgeW7LibnFhfibvFv6Xqgzyk9V2icFWLrxRSH63J2KibLV38xJf9hazm26Q/64?t=2014040214" class="bImg" width="38" height="38" alt="头像"></a>
                            <i class="admin"></i>
                            <span class="timeT">Denis
                                                            <i>01-22</i></span>
                        </span>
                        <span class="perDate db">
                                                                                </span>
                                            </p>
                    <div class="detailCon">
                        <p id="content_1" tId="1" uId="49859" author="Denis">
                                                                                                        本微社区主要讨论WordPress和微信机器人，请勿灌水和发无关内容。<br />
微信机器人购买地址：<br />
http://wpjam.net/item/weixin-robot-advanced/<br />
微社区申请地址：http://wsq.qq.com/
                        </p>
                        <a href="javascript:;" class="viewBtn db fl" style="display:none;">全文</a>
                                                <span class="replyShare db fr">
                                                        <a href="javascript:;" class="like" tId="1"><i class="noPraise"></i>8</a>
                            <a href="http://mq.wsq.qq.com/159733031/t/1?action=share" _qq="" _qzone="" onclick="pgvSendClick({hottag:'QUAN.INDEX.SHARE.LINK'});" class="shareBtn"><i class="incoS  spr"></i>分享</a>                            <a href="javascript:;" class="threadReply" tId="1" onclick="pgvSendClick({hottag:'QUAN.INDEX.REPLY.LINK'});"><i class="incoR spr"></i>回复</a>
                        </span>
                    </div>
            </div>
            <div class="topicList">
                    <ul id="replyList_1">
                                                <li id="p_1_1" uId="312145" author="闪客"><img src="http://wx.qlogo.cn/mmopen/ajNVdqHZLLBQQS5NiaAeibndWyTDya57micmIMUwO2HtBGh9FCon2HoJIMCRF0EAHhTCb8sibSZiaTGHQbJtA9oIReQ/64?t=2014040214" class="sImg db fl" width="25" height="25" alt="头像"><a href="javascript:;" class="sW fl"><span>闪客：</span>
                        怎么买</a></li>
                                                <li id="p_1_2" uId="49859" author="Denis"><img src="http://wx.qlogo.cn/mmopen/ajNVdqHZLLASRo6ibRGoicXEc9icb8Co6DtgeW7LibnFhfibvFv6Xqgzyk9V2icFWLrxRSH63J2KibLV38xJf9hazm26Q/64?t=2014040214" class="sImg db fl" width="25" height="25" alt="头像"><a href="javascript:;" class="sW fl"><span>Denis：</span>
                        复制上面的链接，然后点击购买</a></li>
                                                <li id="p_1_6" uId="3849941" author="拉拉"><img src="http://wx.qlogo.cn/mmopen/ajNVdqHZLLA1lVdWicqVkXJ0sCj1kaW1kmvSLrzpEKKe5Saib3O69G0rA8h65GcTjXkTfZZcFiaFApmQjRoh61wBw/64?t=2014040214" class="sImg db fl" width="25" height="25" alt="头像"><a href="javascript:;" class="sW fl"><span>拉拉：</span>
                        不错</a></li>
                                            </ul>
                    <p id="rCount_1" class="more" rCount="9"><a href="/159733031/t/1" title="">更多</a>共9条回复</p>
            </div>
        </div>
                                <div class="topicBox" id="t_62">
            <div class="topicCon pd15">
                    <p class="personImgDate">
                        <span class="perImg db">
                            <a href="/my/thread?uId=15039308"><img src="http://wx.qlogo.cn/mmopen/rPibt62gfVOjbNbibMo9lJHrkBwWJ3OXRQZenDPymy18Av6TkDh4VP8yslMKGpFT1Y1pxZMDJYt93hQg6Ws8ibArBZBqAGOwlE4/64?t=2014040214" class="bImg" width="38" height="38" alt="头像"></a>
                            <i class=""></i>
                            <span class="timeT">原规
                                                            <i><em>1小时前</em></i></span>
                        </span>
                        <span class="perDate db">
                                                                                    <a href="javascript:;" tId="62" class="PerPopBtn incoA db"></a>
                                                    </span>
                                                <span class="perPop" tId="62" style="display:none">
                                                            <a class="perBCon db banThread" href="javascript:;">标记为广告</a>
                                                    </span>
                                            </p>
                    <div class="detailCon">
                        <p id="content_62" tId="62" uId="15039308" author="原规">
                                                                                                        看好房子了吗？益汇按揭:二手房按揭，房屋抵押无抵押，企业贷，车贷，装修贷，小额贷，按揭房贷！你需要贷款吗？梁生:13416172342,QQ:34420710,网址：http://fangdai.daikuanbu.com
                        </p>
                        <a href="javascript:;" class="viewBtn db fl" style="display:none;">全文</a>
                                                <span class="replyShare db fr">
                                                        <a href="javascript:;" class="like" tId="62"><i class="noPraise"></i>顶</a>
                            <a href="http://mq.wsq.qq.com/159733031/t/62?action=share" _qq="" _qzone="" onclick="pgvSendClick({hottag:'QUAN.INDEX.SHARE.LINK'});" class="shareBtn"><i class="incoS  spr"></i>分享</a>                            <a href="javascript:;" class="threadReply" tId="62" onclick="pgvSendClick({hottag:'QUAN.INDEX.REPLY.LINK'});"><i class="incoR spr"></i>回复</a>
                        </span>
                    </div>
            </div>
            <div class="topicList" style="display:none">
                    <ul id="replyList_62">
                                            </ul>
                    <p id="rCount_62" class="more"style="display:none;" rCount="0"><a href="/159733031/t/62" title="">更多</a>共0条回复</p>
            </div>
        </div>
                                <div class="topicBox" id="t_49">
            <div class="topicCon pd15">
                    <p class="personImgDate">
                        <span class="perImg db">
                            <a href="/my/thread?uId=2446028"><img src="http://wx.qlogo.cn/mmopen/rPibt62gfVOhOCltZPpZy4gluw5FibBDpHx3ZsCly5WgibsLEyrY9GdicC3Mp8TcV0rfK40WxbtFkhaKVwPHpFfG4Q/64?t=2014040214" class="bImg" width="38" height="38" alt="头像"></a>
                            <i class=""></i>
                            <span class="timeT">wgmsh.com
                                                            <i>02-24</i></span>
                        </span>
                        <span class="perDate db">
                                                                                    <a href="javascript:;" tId="49" class="PerPopBtn incoA db"></a>
                                                    </span>
                                                <span class="perPop" tId="49" style="display:none">
                                                            <a class="perBCon db banThread" href="javascript:;">标记为广告</a>
                                                    </span>
                                            </p>
                    <div class="detailCon">
                        <p id="content_49" tId="49" uId="2446028" author="wgmsh.com">
                                                                                                        转发到朋友圈没有积分的呢。测试了好几次了。是我的手机问题吗？这个用来做量化的标准挺不错，可惜一直没显示有积分。
                        </p>
                        <a href="javascript:;" class="viewBtn db fl" style="display:none;">全文</a>
                                                <span class="replyShare db fr">
                                                        <a href="javascript:;" class="like" tId="49"><i class="noPraise"></i>1</a>
                            <a href="http://mq.wsq.qq.com/159733031/t/49?action=share" _qq="" _qzone="" onclick="pgvSendClick({hottag:'QUAN.INDEX.SHARE.LINK'});" class="shareBtn"><i class="incoS  spr"></i>分享</a>                            <a href="javascript:;" class="threadReply" tId="49" onclick="pgvSendClick({hottag:'QUAN.INDEX.REPLY.LINK'});"><i class="incoR spr"></i>回复</a>
                        </span>
                    </div>
            </div>
            <div class="topicList">
                    <ul id="replyList_49">
                                                <li id="p_49_57" uId="10363674" author="Happy Sir"><img src="http://wx.qlogo.cn/mmopen/rPibt62gfVOjPscxLk5M7xKKDezkfbUn2qLCuiamjt4PO3oARf8vib6eMBsFJeKric1GKfiaiaH2uuHxwV1BvAN7QYKQ/64?t=2014040214" class="sImg db fl" width="25" height="25" alt="头像"><a href="javascript:;" class="sW fl"><span>Happy Sir：</span>
                        分享无积分</a></li>
                                                <li id="p_49_59" uId="11129" author="。"><img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEJSRZcWwsRwRleOUu3GgcdicibqwwdDR3UTBbXVBAjWdPtgHfqLa8ryLGp6bzVSHF8olM7CO31uhKXA/64?t=2014040214" class="sImg db fl" width="25" height="25" alt="头像"><a href="javascript:;" class="sW fl"><span>。</span> 回复 <span>Happy Sir：</span>
                        网站上不是说可以分享有积分的吗</a></li>
                                            </ul>
                    <p id="rCount_49" class="more"style="display:none;" rCount="2"><a href="/159733031/t/49" title="">更多</a>共2条回复</p>
            </div>
        </div>
                                <div class="topicBox" id="t_56">
            <div class="topicCon pd15">
                    <p class="personImgDate">
                        <span class="perImg db">
                            <a href="/my/thread?uId=43287"><img src="http://wx.qlogo.cn/mmopen/QzPtZqIzA0nHIiawBQxHBoEDsRh0OIZ2cHtROYBCetGYOCzFKmWyFLOVjibnzdibEaj85ibtomfjMZjhCMmcqdud0A/64?t=2014040214" class="bImg" width="38" height="38" alt="头像"></a>
                            <i class=""></i>
                            <span class="timeT">老猫爱地球
                                                            <i>03-05</i></span>
                        </span>
                        <span class="perDate db">
                                                                                    <a href="javascript:;" tId="56" class="PerPopBtn incoA db"></a>
                                                    </span>
                                                <span class="perPop" tId="56" style="display:none">
                                                            <a class="perBCon db banThread" href="javascript:;">标记为广告</a>
                                                    </span>
                                            </p>
                    <div class="detailCon">
                        <p id="content_56" tId="56" uId="43287" author="老猫爱地球">
                                                                                                        发送 n等关键词 无法获取文章
                        </p>
                        <a href="javascript:;" class="viewBtn db fl" style="display:none;">全文</a>
                                                <span class="replyShare db fr">
                                                        <a href="javascript:;" class="like" tId="56"><i class="noPraise"></i>顶</a>
                            <a href="http://mq.wsq.qq.com/159733031/t/56?action=share" _qq="" _qzone="" onclick="pgvSendClick({hottag:'QUAN.INDEX.SHARE.LINK'});" class="shareBtn"><i class="incoS  spr"></i>分享</a>                            <a href="javascript:;" class="threadReply" tId="56" onclick="pgvSendClick({hottag:'QUAN.INDEX.REPLY.LINK'});"><i class="incoR spr"></i>回复</a>
                        </span>
                    </div>
            </div>
            <div class="topicList">
                    <ul id="replyList_56">
                                                <li id="p_56_58" uId="139166" author="许多年以后"><img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaELSqI3GVhBOibzganqDaE3VXmibYYMiaWBLgSJ4lpQxGlQ00Uro4icNib0jLKsJfZRXdbaKdyF1LMDg0lg/64?t=2014040214" class="sImg db fl" width="25" height="25" alt="头像"><a href="javascript:;" class="sW fl"><span>许多年以后：</span>
                        我也是</a></li>
                                            </ul>
                    <p id="rCount_56" class="more"style="display:none;" rCount="1"><a href="/159733031/t/56" title="">更多</a>共1条回复</p>
            </div>
        </div>
                                <div class="topicBox" id="t_61">
            <div class="topicCon pd15">
                    <p class="personImgDate">
                        <span class="perImg db">
                            <a href="/my/thread?uId=11001387"><img src="http://dzqun.gtimg.cn/quan/images/personImg.jpg" class="bImg" width="38" height="38" alt="头像"></a>
                            <i class=""></i>
                            <span class="timeT">公牛
                                                            <i>03-18</i></span>
                        </span>
                        <span class="perDate db">
                                                                                    <a href="javascript:;" tId="61" class="PerPopBtn incoA db"></a>
                                                    </span>
                                                <span class="perPop" tId="61" style="display:none">
                                                            <a class="perBCon db banThread" href="javascript:;">标记为广告</a>
                                                    </span>
                                            </p>
                    <div class="detailCon">
                        <p id="content_61" tId="61" uId="11001387" author="公牛">
                                                                                                        不知说啥好好
                        </p>
                        <a href="javascript:;" class="viewBtn db fl" style="display:none;">全文</a>
                                                <span class="replyShare db fr">
                                                        <a href="javascript:;" class="like" tId="61"><i class="noPraise"></i>1</a>
                            <a href="http://mq.wsq.qq.com/159733031/t/61?action=share" _qq="" _qzone="" onclick="pgvSendClick({hottag:'QUAN.INDEX.SHARE.LINK'});" class="shareBtn"><i class="incoS  spr"></i>分享</a>                            <a href="javascript:;" class="threadReply" tId="61" onclick="pgvSendClick({hottag:'QUAN.INDEX.REPLY.LINK'});"><i class="incoR spr"></i>回复</a>
                        </span>
                    </div>
            </div>
            <div class="topicList" style="display:none">
                    <ul id="replyList_61">
                                            </ul>
                    <p id="rCount_61" class="more"style="display:none;" rCount="0"><a href="/159733031/t/61" title="">更多</a>共0条回复</p>
            </div>
        </div>
                                <div class="topicBox" id="t_59">
            <div class="topicCon pd15">
                    <p class="personImgDate">
                        <span class="perImg db">
                            <a href="/my/thread?uId=7166940"><img src="http://wx.qlogo.cn/mmopen/Q3auHgzwzM6jcE2QzI90picJkebTbcviaqluAEQypWicNTzMQa2etuyVib2AkIZ3gGhkD9DWkHCps2cecwXJHytKhA/64?t=2014040214" class="bImg" width="38" height="38" alt="头像"></a>
                            <i class=""></i>
                            <span class="timeT">Jason&hearts;Wang
                                                            <i>03-11</i></span>
                        </span>
                        <span class="perDate db">
                                                                                    <a href="javascript:;" tId="59" class="PerPopBtn incoA db"></a>
                                                    </span>
                                                <span class="perPop" tId="59" style="display:none">
                                                            <a class="perBCon db banThread" href="javascript:;">标记为广告</a>
                                                    </span>
                                            </p>
                    <div class="detailCon">
                        <p id="content_59" tId="59" uId="7166940" author="Jason&hearts;Wang">
                                                                                                        转载获取不了积分，如何解决。<br />
还有就是你的WordPress 移动主题：Mugwort，能不能pc单独主题，mobile用这个主题，我已经买了，但现在pc也是这个主题。头疼……
                        </p>
                        <a href="javascript:;" class="viewBtn db fl" style="display:none;">全文</a>
                                                <span class="replyShare db fr">
                                                        <a href="javascript:;" class="like" tId="59"><i class="noPraise"></i>1</a>
                            <a href="http://mq.wsq.qq.com/159733031/t/59?action=share" _qq="" _qzone="" onclick="pgvSendClick({hottag:'QUAN.INDEX.SHARE.LINK'});" class="shareBtn"><i class="incoS  spr"></i>分享</a>                            <a href="javascript:;" class="threadReply" tId="59" onclick="pgvSendClick({hottag:'QUAN.INDEX.REPLY.LINK'});"><i class="incoR spr"></i>回复</a>
                        </span>
                    </div>
            </div>
            <div class="topicList">
                    <ul id="replyList_59">
                                                <li id="p_59_54" uId="2446028" author="wgmsh.com"><img src="http://wx.qlogo.cn/mmopen/rPibt62gfVOhOCltZPpZy4gluw5FibBDpHx3ZsCly5WgibsLEyrY9GdicC3Mp8TcV0rfK40WxbtFkhaKVwPHpFfG4Q/64?t=2014040214" class="sImg db fl" width="25" height="25" alt="头像"><a href="javascript:;" class="sW fl"><span>wgmsh.com：</span>
                        我也是转发朋友圈没积分。</a></li>
                                                <li id="p_59_55" uId="17540" author="黑黑"><img src="http://wx.qlogo.cn/mmopen/Q3auHgzwzM7CicnrkN3ucFvd6uUjS0u0EtA0ibPkXLR3sOibjGPxAo3GFHtg9wn4sJkIAJqTPKGKhtZZaTNdEdFJA/64?t=2014040214" class="sImg db fl" width="25" height="25" alt="头像"><a href="javascript:;" class="sW fl"><span>黑黑：</span>
                        +1</a></li>
                                                <li id="p_59_56" uId="10363674" author="Happy Sir"><img src="http://wx.qlogo.cn/mmopen/rPibt62gfVOjPscxLk5M7xKKDezkfbUn2qLCuiamjt4PO3oARf8vib6eMBsFJeKric1GKfiaiaH2uuHxwV1BvAN7QYKQ/64?t=2014040214" class="sImg db fl" width="25" height="25" alt="头像"><a href="javascript:;" class="sW fl"><span>Happy Sir：</span>
                        获取不到积分！无解，就说是主题问题！</a></li>
                                            </ul>
                    <p id="rCount_59" class="more"style="display:none;" rCount="3"><a href="/159733031/t/59" title="">更多</a>共3条回复</p>
            </div>
        </div>
                                <div class="topicBox" id="t_60">
            <div class="topicCon pd15">
                    <p class="personImgDate">
                        <span class="perImg db">
                            <a href="/my/thread?uId=9785659"><img src="http://wx.qlogo.cn/mmopen/icicIvSc9Yf6UCeK5zYUH9W5jFicYrOeQyf1E5bGJhSjBTjREJDfT7xoYClaVTWickjibIr4enfz0oFEfGBvlBXvpyNibTWQJQf8E2/64?t=2014040214" class="bImg" width="38" height="38" alt="头像"></a>
                            <i class=""></i>
                            <span class="timeT">微商工作室
                                                            <i>03-16</i></span>
                        </span>
                        <span class="perDate db">
                                                                                    <a href="javascript:;" tId="60" class="PerPopBtn incoA db"></a>
                                                    </span>
                                                <span class="perPop" tId="60" style="display:none">
                                                            <a class="perBCon db banThread" href="javascript:;">标记为广告</a>
                                                    </span>
                                            </p>
                    <div class="detailCon">
                        <p id="content_60" tId="60" uId="9785659" author="微商工作室">
                                                                                                        创新的一个好想法！
                        </p>
                        <a href="javascript:;" class="viewBtn db fl" style="display:none;">全文</a>
                                                <span class="replyShare db fr">
                                                        <a href="javascript:;" class="like" tId="60"><i class="noPraise"></i>顶</a>
                            <a href="http://mq.wsq.qq.com/159733031/t/60?action=share" _qq="" _qzone="" onclick="pgvSendClick({hottag:'QUAN.INDEX.SHARE.LINK'});" class="shareBtn"><i class="incoS  spr"></i>分享</a>                            <a href="javascript:;" class="threadReply" tId="60" onclick="pgvSendClick({hottag:'QUAN.INDEX.REPLY.LINK'});"><i class="incoR spr"></i>回复</a>
                        </span>
                    </div>
            </div>
            <div class="topicList" style="display:none">
                    <ul id="replyList_60">
                                            </ul>
                    <p id="rCount_60" class="more"style="display:none;" rCount="0"><a href="/159733031/t/60" title="">更多</a>共0条回复</p>
            </div>
        </div>
                                <div class="topicBox" id="t_58">
            <div class="topicCon pd15">
                    <p class="personImgDate">
                        <span class="perImg db">
                            <a href="/my/thread?uId=9293707"><img src="http://wx.qlogo.cn/mmopen/vd8yNL3TS9CZypv1aoblcTVxicrIb15mBoOlIzR3LM5OGW8lPCpLh73zn4LDz0hcDKmlib5riaia264AmBcUDQTdfcOqugD4H8Hj/64?t=2014040214" class="bImg" width="38" height="38" alt="头像"></a>
                            <i class=""></i>
                            <span class="timeT">DayDreaM       _
                                                            <i>03-07</i></span>
                        </span>
                        <span class="perDate db">
                                                                                    <a href="javascript:;" tId="58" class="PerPopBtn incoA db"></a>
                                                    </span>
                                                <span class="perPop" tId="58" style="display:none">
                                                            <a class="perBCon db banThread" href="javascript:;">标记为广告</a>
                                                    </span>
                                            </p>
                    <div class="detailCon">
                        <p id="content_58" tId="58" uId="9293707" author="DayDreaM       _">
                                                                                                        不是太懂<img class="expimg" src="http://qzonestyle.gtimg.cn/qzone/em/e127.gif" />谁来给我解释一下
                        </p>
                        <a href="javascript:;" class="viewBtn db fl" style="display:none;">全文</a>
                                                <span class="replyShare db fr">
                                                        <a href="javascript:;" class="like" tId="58"><i class="noPraise"></i>顶</a>
                            <a href="http://mq.wsq.qq.com/159733031/t/58?action=share" _qq="" _qzone="" onclick="pgvSendClick({hottag:'QUAN.INDEX.SHARE.LINK'});" class="shareBtn"><i class="incoS  spr"></i>分享</a>                            <a href="javascript:;" class="threadReply" tId="58" onclick="pgvSendClick({hottag:'QUAN.INDEX.REPLY.LINK'});"><i class="incoR spr"></i>回复</a>
                        </span>
                    </div>
            </div>
            <div class="topicList" style="display:none">
                    <ul id="replyList_58">
                                            </ul>
                    <p id="rCount_58" class="more"style="display:none;" rCount="0"><a href="/159733031/t/58" title="">更多</a>共0条回复</p>
            </div>
        </div>
                                <div class="topicBox" id="t_57">
            <div class="topicCon pd15">
                    <p class="personImgDate">
                        <span class="perImg db">
                            <a href="/my/thread?uId=9231544"><img src="http://wx.qlogo.cn/mmopen/joZUTdiam9lfN8u7ibV4CwdMzADcyUhd8TLJMvT8kZOv9m7tbRgicbvpGwiaLy0Qm7NA5WNlhN5XfSCTLTGol33S6lHQ4IS4UNLK/64?t=2014040214" class="bImg" width="38" height="38" alt="头像"></a>
                            <i class=""></i>
                            <span class="timeT">Amy(圈)
                                                            <i>03-06</i></span>
                        </span>
                        <span class="perDate db">
                                                                                    <a href="javascript:;" tId="57" class="PerPopBtn incoA db"></a>
                                                    </span>
                                                <span class="perPop" tId="57" style="display:none">
                                                            <a class="perBCon db banThread" href="javascript:;">标记为广告</a>
                                                    </span>
                                            </p>
                    <div class="detailCon">
                        <p id="content_57" tId="57" uId="9231544" author="Amy(圈)">
                                                                                                        测试该怎么了
                        </p>
                        <a href="javascript:;" class="viewBtn db fl" style="display:none;">全文</a>
                                                <span class="replyShare db fr">
                                                        <a href="javascript:;" class="like" tId="57"><i class="noPraise"></i>顶</a>
                            <a href="http://mq.wsq.qq.com/159733031/t/57?action=share" _qq="" _qzone="" onclick="pgvSendClick({hottag:'QUAN.INDEX.SHARE.LINK'});" class="shareBtn"><i class="incoS  spr"></i>分享</a>                            <a href="javascript:;" class="threadReply" tId="57" onclick="pgvSendClick({hottag:'QUAN.INDEX.REPLY.LINK'});"><i class="incoR spr"></i>回复</a>
                        </span>
                    </div>
            </div>
            <div class="topicList" style="display:none">
                    <ul id="replyList_57">
                                            </ul>
                    <p id="rCount_57" class="more"style="display:none;" rCount="0"><a href="/159733031/t/57" title="">更多</a>共0条回复</p>
            </div>
        </div>
                                <div class="topicBox" id="t_54">
            <div class="topicCon pd15">
                    <p class="personImgDate">
                        <span class="perImg db">
                            <a href="/my/thread?uId=5749364"><img src="http://wx.qlogo.cn/mmopen/ajNVdqHZLLAxnjBxhgSJmVU4HeaY1uGEtCDyqicbUhTnYgggUUIPpC84eAQfU88jtXMyTH2PLwLxciapZjhsVHbw/64?t=2014040214" class="bImg" width="38" height="38" alt="头像"></a>
                            <i class=""></i>
                            <span class="timeT">我是打不倒的蛋卷
                                                            <i>03-04</i></span>
                        </span>
                        <span class="perDate db">
                                                                                    <a href="javascript:;" tId="54" class="PerPopBtn incoA db"></a>
                                                    </span>
                                                <span class="perPop" tId="54" style="display:none">
                                                            <a class="perBCon db banThread" href="javascript:;">标记为广告</a>
                                                    </span>
                                            </p>
                    <div class="detailCon">
                        <p id="content_54" tId="54" uId="5749364" author="我是打不倒的蛋卷">
                                                                                                        微信机器人，需要认证，然后后台开发不，后台开发，
                        </p>
                        <a href="javascript:;" class="viewBtn db fl" style="display:none;">全文</a>
                                                <span class="replyShare db fr">
                                                        <a href="javascript:;" class="like" tId="54"><i class="noPraise"></i>顶</a>
                            <a href="http://mq.wsq.qq.com/159733031/t/54?action=share" _qq="" _qzone="" onclick="pgvSendClick({hottag:'QUAN.INDEX.SHARE.LINK'});" class="shareBtn"><i class="incoS  spr"></i>分享</a>                            <a href="javascript:;" class="threadReply" tId="54" onclick="pgvSendClick({hottag:'QUAN.INDEX.REPLY.LINK'});"><i class="incoR spr"></i>回复</a>
                        </span>
                    </div>
            </div>
            <div class="topicList">
                    <ul id="replyList_54">
                                                <li id="p_54_52" uId="49859" author="Denis"><img src="http://wx.qlogo.cn/mmopen/ajNVdqHZLLASRo6ibRGoicXEc9icb8Co6DtgeW7LibnFhfibvFv6Xqgzyk9V2icFWLrxRSH63J2KibLV38xJf9hazm26Q/64?t=2014040214" class="sImg db fl" width="25" height="25" alt="头像"><a href="javascript:;" class="sW fl"><span>Denis：</span>
                        什么意思？</a></li>
                                            </ul>
                    <p id="rCount_54" class="more"style="display:none;" rCount="1"><a href="/159733031/t/54" title="">更多</a>共1条回复</p>
            </div>
        </div>
                        </div>
        <div class="loading" id="loadNext" style="display:none;">
            <div class="loadInco">
                <span class="blockG" id="rotateG_01"></span>
                <span class="blockG" id="rotateG_02"></span>
                <span class="blockG" id="rotateG_03"></span>
                <span class="blockG" id="rotateG_04"></span>
                <span class="blockG" id="rotateG_05"></span>
                <span class="blockG" id="rotateG_06"></span>
                <span class="blockG" id="rotateG_07"></span>
                <span class="blockG" id="rotateG_08"></span>
            </div>正在加载...
        </div>
        <div id='loadNextPos'></div>
        <div class="loading" id="showAll" style="display:none;">已显示全部</div>
    </div>
</div>

<div class="bottomBar">
    <div class="bottomBarCon">
        <a href="javascript:;" class="backBtn" id="goback"><i class="incoAnswer back db"></i></a>
            <a href="http://pt.3g.qq.com/s?aid=touchLogin&amp;bid_code=dzwsq&amp;css=http://dzqun.gtimg.cn/quan/style/ptlogin.css&amp;go_url=http%3A%2F%2Fmq.wsq.qq.com%2F159733031" class="publish db" onclick="pgvSendClick({hottag:'QGC.INDEX.THREAD.LINK'});"><i class="incoP"></i>发话题</a>
                <a href="javascript:;" class="attention db" onclick="pgvSendClick({hottag:'QUAN.VIEWTHREAD.JOIN.LINK'});" id="followButton" sid="159733031"><i class="iInco"></i>加入</a>
            <a href="javascript:;" class="moreC db" id="mqOption"><i class="circle">●</i><i class="circle">●</i><i class="circle">●</i>
    <i class="db numP" id="navMsgNum" style="display:none;">0</i>
    </a>
        </div>
</div>

<script type="text/javascript">
    var isForceReload = '0',
        isLiked = '',
        inviteUrl = 'http://mq.wsq.qq.com/shareDirect?site=WordPressJam&amp;title=%E5%A5%BD%E5%8F%8B%E9%82%80%E8%AF%B7%E5%87%BD&amp;summary=%E9%82%80%E8%AF%B7%E4%BD%A0%E5%8A%A0%E5%85%A5WordPressJam%EF%BC%8C%E4%B8%80%E8%B5%B7%E5%8F%82%E4%B8%8E%E6%9C%89%E8%B6%A3%E7%9A%84%E8%AF%9D%E9%A2%98%E5%92%8C%E6%B4%BB%E5%8A%A8&amp;targetUrl=http%3A%2F%2Fmq.wsq.qq.com%2Ffollow%2Fqr%3F_wv%3D1%26source%3Dconnect%26sId%3D159733031&amp;pageUrl=http%3A%2F%2Fmq.wsq.qq.com%2F159733031&amp;imageUrl=http%3A%2F%2Fshp.qlogo.cn%2Fgqclogo%2F0%2F159733031%2F200%3Ft%3D1394675815&amp;type=qq';
    g_module.push('module/navBar');
</script>

<div id="goTop" class="floatLayer db"><a href="javascript:;" class="upBtn db"></a></div>

<script id="tmpl_share" type="text/html">
<div class="shareLayer" style="position:fixed;width:100%;bottom:0;">
  <h3>分享到：</h3>
    <ul>
        <li><a href="<%=qzoneShareLink%>"><img src="http://dzqun.gtimg.cn/quan/images/qzoneImg.png"></a><h4>QQ空间</h4></li>
        <li><a href="<%=qqShareLink%>"><img src="http://dzqun.gtimg.cn/quan/images/qqImg.png"></a><h4>QQ</h4></li>
    </ul>
    <a href="javascript:;" class="shareCBtn shareOn db" id="cancleShare">取消</a>
</div>
</script>
<script id="tmpl_reply" type="text/html">
    <% for (var k in replyList) { %>
        <% if (!isDOMExist('p_' + replyList[k].tId + '_' + replyList[k].pId)) { %>
        <li id="p_<%= replyList[k].tId %>_<%= replyList[k].pId %>" uId="<%= replyList[k].authorUid %>" author="<%= replyList[k].author %>"><img src="<%= replyList[k].avatar %>" class="sImg db fl" width="25" height="25" alt="头像"><a href="javascript:;" class="sW fl"><span><%= replyList[k].author %><% if (replyList[k].toPId) { %></span> 回复 <span><%=replyList[k].toAuthor %><% } %>：</span><%== replyList[k].content %></a></li>
        <% } %>
    <% } %>
</script>
<script id="tmpl_thread" type="text/html">
<% for (var i in threadList) { %>
<% if (!isDOMExist('t_' + threadList[i].tId)) { %>
        <%if (threadList[i].isRead) { %>
        <div class="topicBox ov" id="t_<%= threadList[i].tId %>">
            <div class="topicCon fBg">
                    <p class="personImgDate">
                        <span class="perImg db">
                            <img src="<%= threadList[i].avatar %>" class="bImg bt" width="38" height="38" alt="头像">
                            <i class="<% if (threadList[i].isAdmin) { %>admin<% } else if (threadList[i].gId == groupStar) { %>user<%}%>"></i>
                            <span class="timeT db fm"><%= threadList[i].author%>
                                <% if (threadList[i].rank == 1) { %>
                                <img src="http://dzqun.gtimg.cn/quan/images/rankInco1.png" class="crown" alt="">
                                <% } else if (threadList[i].rank == 2) { %>
                                <img src="http://dzqun.gtimg.cn/quan/images/rankInco2.png" class="crown" alt="">
                                <% } else if (threadList[i].rank == 3) { %>
                                <img src="http://dzqun.gtimg.cn/quan/images/rankInco3.png" class="crown" alt="">
                                <% } %>
                            </span>
                        </span>
                        <span class="perDate db">
                            <% if (threadList[i].markAds > 3 && threadList[i].isMarkAds < 2) { %>
                                <%= threadList[i].markAds %>人标记为广告
                            <% } %>
                            <% if ('' == threadList[i].authorUid || !threadList[i].isStick) { %>
                            <a href="javascript:;" tId="<%= threadList[i].tId %>" class="PerPopBtn incoA db"></a>
                            <% } %>
                        </span>
                        <% if ('' == threadList[i].authorUid || !threadList[i].isStick) { %>
                        <span class="perPop" tId="<%= threadList[i].tId %>" style="display:none">
                            <% if ('' == threadList[i].authorUid) { %>
                                <a class="perBCon db deleteThread" href="javascript:;">删除</a>
                            <% } else { %>
                                <a class="perBCon db banThread" href="javascript:;">标记为广告</a>
                            <% } %>
                        </span>
                        <% } %>
                    </p>
                    <div class="detailCon folding">
                        <a href="/159733031/t/<%=threadList[i].tId%>"><p><%== threadList[i].title %><%==threadList[i].content%></p></a>
                    </div>
            </div>
        </div>
        <% } else { %>
        <div class="topicBox" id="t_<%= threadList[i].tId %>">
            <div class="topicCon pd15">
                    <p class="personImgDate">
                        <span class="perImg db">
                        <a href="/my/thread?uId=<%=threadList[i].authorUid%>"><img src="<%= threadList[i].avatar %>" class="bImg" width="38" height="38" alt="头像"></a>
                            <i class="<% if (threadList[i].isAdmin) { %>admin<% } else if (threadList[i].gId == groupStar) { %>user<%}%>"></i>
                            <span class="timeT"><%= threadList[i].author%>
                                <% if (threadList[i].rank == 1) { %>
                                <img src="http://dzqun.gtimg.cn/quan/images/rankInco1.png" class="crown" alt="">
                                <% } else if (threadList[i].rank == 2) { %>
                                <img src="http://dzqun.gtimg.cn/quan/images/rankInco2.png" class="crown" alt="">
                                <% } else if (threadList[i].rank == 3) { %>
                                <img src="http://dzqun.gtimg.cn/quan/images/rankInco3.png" class="crown" alt="">
                                <% } %>
                            <i><%== threadList[i].hCreatedTime %></i></span>
                        </span>
                        <span class="perDate db">
                            <% if (threadList[i].markAds > 3 && threadList[i].isMarkAds < 2) { %>
                                <%= threadList[i].markAds %>人标记为广告
                            <% } %>
                            <% if ('' == threadList[i].authorUid || !threadList[i].isStick) { %>
                            <a href="javascript:;" tId="<%= threadList[i].tId %>" class="PerPopBtn incoA db"></a>
                            <% } %>
                        </span>
                        <% if ('' == threadList[i].authorUid || !threadList[i].isStick) { %>
                        <span class="perPop" tId="<%= threadList[i].tId %>" style="display:none">
                            <% if ('' == threadList[i].authorUid) { %>
                                <a class="perBCon db deleteThread" href="javascript:;">删除</a>
                            <% } else { %>
                                <a class="perBCon db banThread" href="javascript:;">标记为广告</a>
                            <% } %>
                        </span>
                        <% } %>
                    </p>
                    <div class="detailCon">
                        <p id="content_<%=threadList[i].tId %>" tId="<%= threadList[i].tId %>" uId="<%= threadList[i].authorUid %>" author="<%= threadList[i].author %>">
                        <% if (!fId && !isLive) { %>
                            <% if (threadList[i].labelName) { %>
                                <a href="/159733031?filterType=<%=threadList[i].fId%>" class="studioBtn"><%=threadList[i].labelName%></a>
                            <% } else if (!isLive && threadList[i].liveId) { %>
                                <a href="/159733031?liveId=<%= threadList[i].liveId %>" class="studioBtn db studio">直播间</a>
                            <% } %>
                        <% } %>
                            <%== threadList[i].title %><%== threadList[i].content %>
                        </p>
                        <a href="javascript:;" class="viewBtn db fl" style="display:none;">全文</a>
                        <% if (threadList[i].picUrls) {%>
                        <div class="slideBox">
                            <div class="slideBoxWrapper" style="position:relative;">
                            <ul>
                                <% for (j in threadList[i].picUrls) { %>
                                <li><img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" data-original="<%= threadList[i].picUrls[j].small %>" alt=""></li>
                                <% } %>
                            </ul>
                            </div>
                            <span class="pageNum db" style="top:5px;right:3px;display:none;"><%= threadList[i].picNum %>张</span>
                        </div>
                        <% } %>
                        <span class="replyShare db fr">
                            <% if (tmplVar && tmplVar.afterThreadListReplyShareExtra) { %>
                                <%== tmplVar.afterThreadListReplyShareExtra[threadList[i].tId] %>
                            <% } %>
                            <a href="javascript:;" class="like" tId="<%= threadList[i].tId %>"><i class="<% if (threadList[i].liked) { %>p<% } else { %>noP<% } %>raise"></i><% if (threadList[i].likeNum > 9999) { %>9999+<% } else if (threadList[i].likeNum) { %><%= threadList[i].likeNum %> <% } else { %>顶<% } %></a>
                            
                                                        
                            <a href="<%=threadList[i].shareLink%>" _qq="<%=threadList[i].share.qq%>" _qzone="<%=threadList[i].share.qzone%>" onclick="pgvSendClick({hottag:'QUAN.INDEX.SHARE.LINK'});" class="shareBtn"><i class="incoS spr"></i>分享</a>
                            
                                                        
                            <a href="javascript:;" class="threadReply" tId="<%= threadList[i].tId %>" onclick="pgvSendClick({hottag:'QUAN.INDEX.REPLY.LINK'});return false;"><i class="incoR spr"></i>回复</a>
                        </span>
                    </div>
            </div>
            <div class="topicList"<% if (!threadList[i].rCount) { %> style="display:none"<% } %>>
                    <ul id="replyList_<%= threadList[i].tId %>">
                        <% include('tmpl_reply', {'replyList':threadList[i].replyList}) %>
                    </ul>
                    <p id="rCount_<%= threadList[i].tId %>" class="more"<% if (threadList[i].rCount <= 3) { %> style="display:none;"<% }%> rCount="<%= threadList[i].rCount %>"><a href="/159733031/t/<%= threadList[i].tId %>" title="">更多</a>共<%= threadList[i].rCount %>条回复</p>
            </div>
        </div>
        <% } %>
<% } %>
<% } %>
</script>

<script id="tmpl_replyForm" type="text/html">
<div class="popLayer" style="width:86%">
<form method="post" action="/159733031/r/new/submit" id="replyForm">
    <input type="hidden" name="CSRFToken" value="137c14b9">
    <input type="hidden" name="sId" value="159733031">
    <input type="hidden" name="tId" value="<%= data.tId %>">
    <input type="hidden" name="pId" value="<%= data.pId %>">
    <div class="sendBorder">
        <textarea id="content" name="content" cols="" rows="" class="sInput" placeholder="回两句吧..."></textarea>
    </div>
    <div class="sendOperate">
        <a href="javascript:;" class="expreSelect" title=""></a>
        <div class="operBtn db fr">
            <span class="pText" id="pText">140</span>
            <a href="javascript:;" id="cBtn" class="cancelBtn db close" title="">取消</a>
            <a href="javascript:;" id="comBtn" class="sendBtn c1 db" title="">发送</a>
        </span>
    </div>
</form>
</div>
</script>

<script id="tmpl_expreBox" type="text/html">
    <div class="expreList" style="display:none;">
    <div class="expressionTab">
        <% var def = null %>
        <% for (var i in cate) {%>
        <% if (def === null) { def = i }%>
        <a href="javascript:;"<% if (def == i) {%> class="on"<%}%> id="<%=i%>" title="<%=cate[i]%>"><%=cate[i]%></a>
        <% }%>
    </div>
    <% var pageNum = []%>
    <div class="expreBox">
        <% for (var i in emo) {%>
        <ul class="expreCon <%=emo[i].ulClass%>" id="exp<%=i%>" style="<%if(i != def) {%>display:none;<%}%>">
            <% var emoNum = 0%>
            <% var page = 0%>
        <% for (var j in emo[i].icon) {%>
            <% ++emoNum%>
            <% if (emoNum % emo[i].perPage == 1) { %>
                <% ++page%>
                <% pageNum[i] = page%>
                <li class="<%=emo[i].liClass%><%=page%>">
            <% } %>
                <a href="javascript:;" title="<%=j%>"></a>
            <% if (emoNum % emo[i].perPage == 0) { %>
                <%if (emo[i].delBtn) {%><a href="javascript:;"></a><%}%>
                </li>
            <% } %>
        <% }%>
        </ul>
        <% }%>
    </div>
    <% for (var k in pageNum) {%>
    <p class="pNumCon" id="page<%=k%>"<% if (def != k) {%> style="display:none;"<%}%>>
        <% for(var i = 1; i <= pageNum[k]; i++) { %>
        <a href="javascript:;" class="<% if(i == 1) { %> pNumOn <% } %> pNum db"></a>
        <%}%>
    </p>
    <% }%>
    </div>
    </script>

<script id="manage" type="text/html">
    <div class="manageLayer" style="margin:0 auto;">
        <ul>
            <% if(isReply) {%>
            <li><a href="javascript:;" btnType="reply">回复</a></li>
                <% if(allowDel) {%>
                <li><a href="javascript:;" btnType="delReply">删除</a></li>
                <%}%>
            <% } else {%>
            <li><a href="javascript:;" btnType="delThread">删除</a></li>
            <% } %>
            
                                    
        </ul>
    </div>
</script>

<script type="text/javascript">
var isLive = 0;
var isBindQQ = 0;
var isQAClub = '';
var faqFilter = 0;
var inviteUrl = 'http://mq.wsq.qq.com/shareDirect?site=WordPressJam&amp;title=%E5%A5%BD%E5%8F%8B%E9%82%80%E8%AF%B7%E5%87%BD&amp;summary=%E9%82%80%E8%AF%B7%E4%BD%A0%E5%8A%A0%E5%85%A5WordPressJam%EF%BC%8C%E4%B8%80%E8%B5%B7%E5%8F%82%E4%B8%8E%E6%9C%89%E8%B6%A3%E7%9A%84%E8%AF%9D%E9%A2%98%E5%92%8C%E6%B4%BB%E5%8A%A8&amp;targetUrl=http%3A%2F%2Fmq.wsq.qq.com%2Ffollow%2Fqr%3F_wv%3D1%26source%3Dconnect%26sId%3D159733031&amp;pageUrl=http%3A%2F%2Fmq.wsq.qq.com%2F159733031&amp;imageUrl=http%3A%2F%2Fshp.qlogo.cn%2Fgqclogo%2F0%2F159733031%2F200%3Ft%3D1394675815&amp;type=qq';

if(isBindQQ) {
    jQuery.DIC.dialog({content:'绑定成功', autoClose:true});
}
var nextStart = 10;
g_module.push('module/site', 'module/forumdisplay');
</script>
<script id="optionMenu" type="text/html">

<div class="manageLayer" style="margin:0 auto;" id="optionLayer">
    <ul>
        <li><a class="needsclick" href="/my/thread">我的话题</a></li>
        <li class="l"><a class="needsclick" id="myMessage" href="/my/message" onclick="pgvSendClick({hottag:'QUAN.NAV.MSG.LINK'});">我的消息
<% if (newMsgCount>99) {%><i class="db numP m n" id="menuMsgNum">...</i><%}else if (newMsgCount>0) {%><i class="db numP m" id="menuMsgNum"><%=newMsgCount%></i><%}%></a></li>
        <li><a href="http://mq.wsq.qq.com/156591363" id="feedback" onclick="pgvSendClick({hottag:'QUAN.NAV.FEEDBACK.LINK'});">反馈建议</a></li>
        <% if (!isWX) { %><li><a id="siteManager" class="needsclick" href="/my/sites/list">社区管理</a><%}%></li>
    </ul>
</div>

</script>
<script src="http://pub.idqqimg.com/qqmobile/qqapi.js?v=20140212"></script><script type="text/javascript">
var shareUrl = 'http://mq.wsq.qq.com/159733031?_wv=1&source=custom',
shareTitle = '分享自#WordPressJam#',
shareDesc = 'WordPress 讨论微社区。',
shareImgUrl = 'http://shp.qlogo.cn/gqclogo/0/159733031/200?t=1394675815';
    g_module.push('module/common');

    // 右上角分享定制
    if (typeof(mqq.data.setShareInfo) != 'undefined') {
        mqq.data.setShareInfo({
            'share_url': shareUrl,
            'title': shareTitle,
            'desc': shareDesc,
            'image_url': shareImgUrl
        }, function() {});
    }

</script>
<script type="application/javascript">
var url = 'http://dzqun.gtimg.cn/quan/scripts/seajs-0.1.5.js?t=1396416805';
var node = document.createElement('script');node.onload = function(){g_ts.seajs = new Date();};node.src = url;document.body.appendChild(node);</script>




<!-- 腾讯分析统计 -->
<!--script type="text/javascript" src="http://tajs.qq.com/stats?sId=29278739&logo=255" charset="UTF-8"></script-->


<!-- 点击流统计 -->
<script type="text/javascript" src="http://pingjs.qq.com/tcss.ping.js"></script>
<script type="text/javascript">
    setTimeout(function() {
        if (typeof(pgvMain) == 'function') {
            if(typeof(_virtualDomain) == 'undefined') {
                pgvMain();
            } else {
                pgvMain({"virtualDomain":_virtualDomain});
            }
        }
    }, 10);
</script>

</body>
</html>
